*{
    margin: 0;
    padding: 0;

}

html,body{
    width: 100%;
    height: 100%;
}
/*home work 1*/

.screen {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.box {
    width: 250px;
    height: 250px;
   background-color: #8bfcbc;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;

} 


/* home work 2 */

.screen2{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #515151;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    width: 25%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px 7px;
}

img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

h2{
    font-size: 24px;
    color: #212121;
}

p{
    font-size: 18px;
    color: #414141;
    font-family: serif;
    text-align: start;
    line-height: 23px;
}

button{
    padding: 14px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #515151;
    cursor: pointer;
    color: #fff;
}
